{% extends 'root.html' %}
{% block title %} Login - {{ block.super }} {% endblock title %}
{% load static %}
{% block content %}

    <!------- Sign in page ------>
    <section class="signin-section">
        <div class="container">
            <div class="row center-div">
                <div class="col col-sm-8 col-md-9 col-lg-4 col-xl-4">
                    <h4 class="text-center mb-2">
                        <a href="{% url 'home' %}">
                            <img class="logo img-fluid" src="{% static 'img/logo.png' %}">
                        </a>
                    </h4>
                    <div class="card">
                        <article class="card-body">
                            <a href="{% url 'register' %}" class="float-right btn btn-outline-dark">
                                Sign up
                            </a>
                            <h4 class="card-title mb-4 mt-1">Sign in</h4>
                            <p>
                                <a href="#" class="btn btn-block btn-twitter">
                                    <i class="fab fa-twitter"></i> &nbsp; 
                                    Login via Twitter
                                </a>
                                <a href="#" class="btn btn-block btn-facebook">
                                    <i class="fab fa-facebook-f"></i> &nbsp; 
                                    Login via Facebook
                                </a>
                            </p>
                            <hr> 
                            <form action="#" method="POST">
                                <div class="form-group input-icon">
                                    <i class="fa fa-user"></i>
                                    <input name="" class="form-control" placeholder="Email or login" type="email">
                                </div>
                                <div class="form-group input-icon">
                                    <i class="fa fa-lock"></i> 
                                    <input class="form-control" placeholder="******" type="password">
                                </div>                                    
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-dark btn-block"> Login  </button>
                                        </div> <!-- form-group// -->
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <a class="small" href="#">Forgot password?</a>
                                    </div>                                            
                                </div>               
                            </form>         
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>


  
{% endblock content %}