
{% extends 'root.html' %}

{% block title %}Belaface|| Reset Password {% endblock %}

{% block content %}
    <div style="margin: 140px"></div>

    <div class="container-fluid">
        <h2 class="text-center font-weight-bold my-2">
            <a href="{% url 'home' %}" style="text-decoration: none">Belaface</a>
        </h2>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-lg-5 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Reset your password</h3>
                        <p class="text-justify text-center">Enter your email address and we will send you a link to reset your password.</p>
                        <!---
{#                        <form method="post" novalidate>#}
{#                            {% csrf_token %}#}
{#                            {% include 'includes/form.html' %}#}
{#                            <button type="submit" class="btn btn-primary btn-block">Send register reset email</button>#}
{#                        </form>#}
                        --->
                        <!------ Custom Design -------->
                         <form method="post" novalidate>
                             {% csrf_token %}
                             <div class="form-group">
                                 <input type="email"  name="email" maxlength="254" class="form-control" placeholder="Enter your email address to reset your password" required id="id_email" />
                             </div>
                            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                        </form>
                        <!---- End Custom Design --->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
