<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order PDF - eShop</title>
</head>
<body>
    
    <section id="invoice-section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table style="width: 100%">
                        <tbody>
                            <tr>
                                <td style="font-size:20px">Order Details</td>
                                <td></td>
                                <td></td>
                                <td style="font-size:20px">Bill To</td>                        
                            </tr>
                            <tr>
                                <td><b>Order No #</b> <span style="margin-left:30px">O12</span></td>
                                <td></td>
                                <td></td>
                                <td><b>Customer Name : </b><span style="margin-left:30px">Jibon Ahmed</span></td>                        
                            </tr>
                            <tr>
                                <td><b>Date :</b> <span style="margin-left:30px">March 4, 2024, 10:20 a.m.</span></td>
                                <td></td>
                                <td></td>
                                <td><b>Address : </b><span style="margin-left:30px">389 North Shajahanpur, 678</span></td>                        
                            </tr>
                            <tr>
                                <td><b>Website : </b> <span style="margin-left:30px">www.eCommerce.com</span></td>
                                <td></td>
                                <td></td>
                                <td><b>City : </b><span style="margin-left:30px">Dhaka, Bangladesh</span></td>                        
                            </tr>
                            <tr>
                                <td><b>FB & Instagram : </b> <span style="margin-left:30px">eCommerce</span></td>
                                <td></td>
                                <td></td>
                                <td><b>Phone No : </b><span style="margin-left:30px">01987132107</span></td>                        
                            </tr>
                            <tr>
                                <td><b>Contact No : </b> <span style="margin-left:30px">01893430453</span></td>
                                <td></td>
                                <td></td>
                                <td></td>                        
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <table style="border: 1px solid black;!important; width: 100%">
                        <tr>
                            <th scope="col" style="border-collapse: collapse; padding: 5px; width: 50px">S.N</th>
                            <th scope="col" style="border-collapse: collapse; padding: 5px; display: block; word-break: break-all; white-space: normal; overflow: hidden; width:290px;">
                                Product Name
                            </th>
                            <th scope="col" style="border-collapse: collapse; padding: 5px; width: 100px">Quantity</th>
                            <th scope="col" style="border-collapse: collapse; padding: 5px; width: 100px; text-align: center">Unit Price</th>
                            <th scope="col" style="border-collapse: collapse; padding: 5px;">Amount</th>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                1
                            </td>
                            <td style="padding: 5px">
                                Huawei nova 5T
                            </td>
                            <td style="text-align: center; padding: 5px">
                                1
                            </td>
                            <td style="padding: 5px; text-align: center">
                                50000
                            </td>
                            <td style="width: 180px; text-align: right; margin-right: 5px; padding: 5px">
                                50000
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <table style="width: 100%;">
                        <tr>
                            <th colspan="6" style="text-align: right;">Total Product Price</th>
                            <td style="text-align: right;">50000</td>
                        </tr>
                        <tr>
                            <th colspan="6" style="text-align: right;">Voucher</th>
                            <td style="text-align: right;">1000</td>
                        </tr>
                        <tr>
                            <th colspan="6" style="text-align: right;">Discounted Price</th>
                            <td style="text-align: right;">49000</td>
                        </tr>
                        <tr>
                            <th colspan="6" style="text-align: right;">Delivery Charge</th>
                            <td style="text-align: right;">50</td>
                        </tr>
                        <tr>
                            <th colspan="6" style="text-align: right;">Received</th>
                            <td style="text-align: right;">49050</td>
                        </tr>
                        <tr>
                            <th colspan="6" style="text-align: right;">Amount to be collected</th>
                            <td style="text-align: right;">49050</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p><b>Notes :</b> if yoy any problem please contact us</p>
                    <p><b>Thank you for your order.</b> </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>